.container
  %h1 All Board
  - @boards.each do |board|
    = link_to board_path(board) do
      .board_area
        %div
          %h4= board.titlename
          %p= board.content
        %p
  = link_to new_board_path do
    .float_btn
      %p + Add new board