@import 'variables';
@import 'form';
@import 'button';
@import 'header';
@import 'board';
@import 'commons';
@import 'tabs';


html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: #000000;
}

.font {
    height: 25px;
    left: 0%;
    right: 76.79%;
    top: calc(50% - 25px/2 - 12.5px);

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
}

  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
    background-color: $base-bg-color;
    font-size: 1em;
    color: $text-base-color;
  }
  
  .container {
    padding: 16px 16px;
    width: 100%;
  }